body {
    cursor: default;
    background-color: #070F2B !important;

}


 header{
        font-family: "Ubuntu Condensed";
        font-size: 40px;
        background-color: #535C91;
        box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(255, 255, 255, 0.95) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.myphoto{
	margin-left: 15%;
}

header img {
        max-width: 8%;
 }

.myname {
	background-image: linear-gradient(to bottom, rgb(10,10,55), rgb(15,65,65), rgb(10,25,55));
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(250, 250, 255, 0.3) 0px 30px 60px -30px, rgba(5, 15, 5, 0.35) 0px -2px 6px 0px inset;
}

.mynamebg{
    background-image: linear-gradient(to bottom, rgb(21, 245, 186), rgb(33, 25, 81), rgb(33, 25, 81), rgb(33, 25, 81),rgb(33, 25, 81));
}

.myname h1{
  border-right: 1px solid #000;
    font-size: 50px;
}

.myname div{
   border-left: 5px solid #fff;
  color: white;
    font-size: 20px;
    font-family: "Ubuntu Condensed";
}

.myself {
    background-image: linear-gradient(to bottom, rgb(21, 245, 186), rgb(33, 25, 81), rgb(33, 25, 81), rgb(33, 25, 81),rgb(33, 25, 81));
}

.myself-text{
    font-size: 1.5rem;
    color: cyan;
    padding: 25% 15% 10% 3%;
    font-family: 'Segoe UI';
}

p {
	margin: 0 !important;
}

.pixelstar{
    object-fit: cover;
    width: 100%;
    max-height: 10%;
}

.myme {
    padding-top: 10px;
    display: block;
    color: #F8E559;
    letter-spacing: 20px;
    font-size: 10rem;
    font-family: Impact;
}

@media only screen and (max-width: 1510px) {

    .myname h1{
        font-size: 50px;
    }
    
}

@media only screen and (max-width: 1024px){
    .myphoto{
        margin: 0% 5%;
        width: 300px;
    }
    header img{
        margin-left: auto;
        max-width: 10%;
    }
}

@media only screen and (max-width: 768px) {
    .myphoto{
        border-radius: 50px;
        width: 200px;
        margin: none;
    }

    header h1{
        font-size: 40px;
        font-size: 20px;
    }

    .myname h1{
        font-size: 45px;
    }

    header img{
        margin-left: auto;
        max-width: 15%;
        max-width: 10%;
    }
    .retro {
    font-size: 20px;
    }
    .old {
      font-size:12px;
    }
    
}

@media only screen and (max-width: 575.98px) {

    header h1{
        font-size: 20px;
    }
    header img{
        margin-left: auto;
        max-width: 15%;
    }
    
    .myname{
        margin: 5% 0%;
    }

    .myname div{
        font-size: 12px;
    }

    .myname h1{
	    font-size: 25px;

    }

    .retroman h2 {
	    padding: 0;
	    text-align: center;
	    font-size: 40px;
    }

    .retroman p {
	    padding: 0% 16%;
	    text-align: justify;
	    font-size: 20px;
    }

    .retrogif{
	
    }
	
    .retrogif img{
	    max-width: 20px;
	    border-radius: 0px;
	
    }

    .myphoto{
        width: 125px;
    }
    
}


.ilove {
    background-image: linear-gradient(to top, rgb(33,25,81), rgb(33,25,81), rgb(33,25,81), rgb(33,25,81)) ;
    padding: 11% 2%;
}


.love {
    color: #F8E559;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-size: 100px;
    padding-right: 25%;
    font-style: normal;
  }

#problem {
    color: red;
    cursor: default;
}

.whyLove {
    font-family: "Ubuntu Condensed", sans-serif;
    padding-left: 65px;
    padding-right: 30%;
    border-right: red;
    color: white;
    font-size: 30px;
}

.retroman{
    display: block;
    padding-top: 20%;
    background-image: linear-gradient(to top, rgb(100, 32, 170),rgb(100, 32, 170),rgb(100, 32, 170), rgb(100, 32, 170),rgb(100, 32, 170),rgb(100, 32, 170), rgb(33,25,81));
    font-family: "Pixelify Sans", sans-serif;
}

.retro{
    color: #FF7ED4;
    padding: 0% 30%;
    font-size: 55px;
}


.old{
    color: #FFB5DA;
    padding: 0% 30%;
    font-size:  20px;
}

.retrogif{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  align-items: middle;
  justify-content: space-around;
}

#divdav{
  padding-bottom: 500px;
}

.retrogif img{
  max-width:15%;
 height: auto;
  border-radius: 30px;
}

.lspbg {
    background-image: linear-gradient(to bottom, rgb(100, 32, 170), rgb(255, 255, 255), rgb(255,255,255), rgb(255,255,255), rgb(255,255,255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255,255,255));
  background-color: #ffffff
}

.prgmbrdr {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(250, 250, 255, 0.3) 0px 30px 60px -30px, rgba(5, 15, 5, 0.35) 0px -2px 6px 0px inset;
  animation: buttondown 0.5s ease-in-out forwards;
}

.prgmbrdr:hover{
  animation: buttonup 0.5s ease-in-out forwards;
}

@keyframes buttonup{
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-25%);
  }
}

@keyframes buttondown{
from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0%);
  }
}

.lsplogo {
  width: 100px;
}


.linke a {
 text-decoration: none !important;
 color: black !important;
}
